<p *ngIf="numri===5 else otherTemplate">
    Numri eshte 5
</p>
  <ng-template #someComponentVariable>
    <p>bloku i pare</p>
    <p>bloku i pare</p>
    <p>bloku i pare</p>
    <p>bloku i pare</p>
    <p>bloku i pare</p>
    <p>bloku i pare</p>
    <p>bloku i pare</p>
  </ng-template>

  <ng-template #otherTemplate>
    <p>bloku i dyte</p>
    <p>bloku i dyte</p>
    <p>bloku i dyte</p>
    <p>bloku i dyte</p>
    <p>bloku i dyte</p>
    <p>bloku i dyte</p>
    <p>bloku i dyte</p>
    <p>bloku i dyte</p>
  </ng-template>



  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">

  